__pycache__/
*.py[cod]

.deploy_py/

backend/__pycache__/
backend/app/__pycache__/
backend/.deps/
backend/venv/
backend/uploads/
backend/repofiscal.db

frontend/node_modules/
frontend/dist/

LOGS/
BKP/

.DS_Store
